<ion-content>
	<app-loccart show="2"></app-loccart>
	<div class="page-title with-back">
		<span class="back">
			<img src="assets/images/back.png" />
		</span>
		Confirm Order
		<span class="page-title-btn">+ Add More</span>
	</div>
	<div class="cart-content">
		<div class="row item-title">
			<div class="col-7">
				<p>Your Products</p>
			</div>
			<div class="col-5">
				<p class="text-right">Estimated Price</p>
			</div>
		</div>
		<div class="row item align-center">
			<div class="col-3">
				<div class="img">
					<img src="assets/images/rice.png" />
				</div>
			</div>
			<div class="col-5">
				<h5>Rice</h5>
				<div class="row">
					<div class="col-12">
						<span class="pt-num">
							<span class="pt-wp-add-btn minus">-</span>1<span class="pt-wp-add-btn plus">+</span>
						</span>
					</div>
				</div>
			</div>
			<div class="col-4">
				<span class="price">&#8364; <span class="x2">7.75</span></span>
			</div>
			<div class="col-12">
				<hr class="thin item-sep" />
			</div>
		</div>
		<div class="row item align-center">
			<div class="col-3">
				<div class="img">
					<img src="assets/images/sugar.png" />
				</div>
			</div>
			<div class="col-5">
				<h5>Sugar</h5>
				<div class="row">
					<div class="col-12">
						<span class="pt-num">
							<span class="pt-wp-add-btn minus">-</span>1<span class="pt-wp-add-btn plus">+</span>
						</span>
					</div>
				</div>
			</div>
			<div class="col-4">
				<span class="price">&#8364; <span class="x2">7.75</span></span>
			</div>
			<div class="col-12">
				<hr class="thin item-sep" />
			</div>
		</div>
		<div class="row item align-center">
			<div class="col-3">
				<div class="img">
					<img src="assets/images/cashew.png" />
				</div>
			</div>
			<div class="col-5">
				<h5>Cashew</h5>
				<div class="row">
					<div class="col-12">
						<span class="pt-num">
							<span class="pt-wp-add-btn minus">-</span>1<span class="pt-wp-add-btn plus">+</span>
						</span>
					</div>
				</div>
			</div>
			<div class="col-4">
				<span class="price">&#8364; <span class="x2">7.75</span></span>
			</div>
			<div class="col-12">
				<hr class="thin item-sep" />
			</div>
		</div>
		<div class="row item align-center">
			<div class="col-3">
				<div class="img">
					<img src="assets/images/rice.png" />
				</div>
			</div>
			<div class="col-5">
				<h5>Rice</h5>
				<div class="row">
					<div class="col-12">
						<span class="pt-num">
							<span class="pt-wp-add-btn minus">-</span>1<span class="pt-wp-add-btn plus">+</span>
						</span>
					</div>
				</div>
			</div>
			<div class="col-4">
				<span class="price">&#8364; <span class="x2">7.75</span></span>
			</div>
			<div class="col-12">
				<hr class="thin item-sep" />
			</div>
		</div>
	</div>
	<hr />
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="row est-price align-center">
					<div class="col-8">
						<p>Item Estimated Price</p>
					</div>
					<div class="col-4">
						<span class="price">&#8364; <span class="x2">30.8</span></span>
					</div>
				</div>
				<div class="row est-price align-center">
					<div class="col-8">
						<p>Delivery offer price</p>
						<span class="red-sm">**A higher offer will get more Dropper</span>
					</div>
					<div class="col-4">
						<span class="price"><span class="inp"><input type="number" /></span></span>
					</div>
				</div>
				<div class="row est-price align-center">
					<div class="col-8">
						<h5>Total Price</h5>
					</div>
					<div class="col-4">
						<span class="price big">&#8364;  <span class="x2">40.8</span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="neg-mar" />
	<div class="container-fluid cart-section">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-md-12">
						<p>Tell your dropper</p>
					</div>
				</div>
				<div class="row cart-label-wrap">
					<div class="col-8">
						<div class="cart-label">
							<span class="icon">
								<app-svg name="clock"></app-svg>
							</span>
							<span class="title">Delivery Time</span>
							<span class="subtitle">Select delivery slot</span>
						</div>
					</div>
					<div class="col-4 text-right">
						<span class="cart-label-btn">
							Today
							<span class="down">
								<app-svg name="down1"></app-svg>
							</span>
						</span>
					</div>
				</div>
				<div class="row cart-label-wrap">
					<div class="col-8">
						<div class="cart-label">
							<span class="icon">
								<img src="assets/images/payment.png" />
							</span>
							<span class="title">Pay with</span>
							<!-- <span class="subtitle">Select delivery slot</span> -->
						</div>
					</div>
					<div class="col-4 text-right">
						<span class="cart-label-btn">
							Select
							<span class="down">
								<app-svg name="down1"></app-svg>
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="neg-mar" />
	<div class="container-fluid cart-section">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-md-12">
						<p>Your Info</p>
					</div>
				</div>
				<div class="row cart-label-wrap">
					<div class="col-8">
						<div class="cart-label">
							<span class="icon">
								<app-svg name="loc"></app-svg>
							</span>
							<span class="title">Add your Address</span>
							<!-- <span class="subtitle">Select delivery slot</span> -->
						</div>
					</div>
					<div class="col-4 text-right">
						<span class="cart-label-btn" (click)="locPop = 1">
							Change
							<!-- <span class="down">
								<app-svg name=""></app-svg>
							</span> -->
						</span>
					</div>
				</div>
				<div class="row cart-label-wrap">
					<div class="col-8">
						<div class="cart-label">
							<span class="icon">
								<app-svg name="profile"></app-svg>
							</span>
							<span class="title">Ordered by</span>
							<!-- <span class="subtitle">Select delivery slot</span> -->
						</div>
					</div>
					<div class="col-4 text-right">
						<span class="cart-label-btn" (click)="infoPop = 1">
							Add Info
							<!-- <span class="down">
								<app-svg name=""></app-svg>
							</span> -->
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-10 offset-1">
						<button routerLink="/shopper/seldrop" class="btn btn-full brdr">Place Order</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section"></div>
</ion-content>
<div class="overlay" [class.active]="infoPop == 1" (click)="infoPop = 0"></div>
<div class="add-loc-popup" [class.active]="locPop == 1">
	<div class="page-title with-back">
		<span class="back" (click)="locPop = 0">
			<img src="assets/images/back.png" />
		</span>
		Set Delivery Location
		<!-- <span class="page-title-btn">+ Add More</span> -->
	</div>
	<div class="content">
		<div class="row">
			<div class="col-12 mb-20">
				<div class="form-row">
    				<input type="text" class="form-control" name="" value="" onchange="this.setAttribute('value', this.value);" />
    				<label>Location</label>
    				<span class="line"></span>
    			</div>
			</div>
			<div class="col-12">
				<div class="map">
					<img src="assets/images/map.png" />
				</div>
			</div>
			<div class="col-12">
				<div class="form-row">
    				<input type="text" class="form-control" name="" value="" onchange="this.setAttribute('value', this.value);" />
    				<label>House/Apartment/Eircode Number</label>
    				<span class="line"></span>
    			</div>
				<div class="form-row">
    				<input type="text" class="form-control" name="" value="" onchange="this.setAttribute('value', this.value);" />
    				<label>Landmark (optional)</label>
    				<span class="line"></span>
    			</div>
    			<div class="form-row">
    				<span class="lab">Save As:</span>
    				<div class="favr-cost-thumb">
		          		<input type="radio" name="selectedLoc" [(ngModel)]="selectedLoc" value="1" id="loc1" />
		          		<label for="loc1" class="in">Home</label>
		          	</div>
		          	<div class="favr-cost-thumb">
		          		<input type="radio" name="selectedLoc" [(ngModel)]="selectedLoc" value="2" id="loc2" />
		          		<label for="loc2" class="in">Office</label>
		          	</div>
		          	<div class="favr-cost-thumb">
		          		<input type="radio" name="selectedLoc" [(ngModel)]="selectedLoc" value="3" id="loc3" />
		          		<label for="loc3" class="in">Other</label>
		          	</div>
    			</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-10 offset-1">
						<button class="btn btn-full brdr">Add Location</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="add-info-pop" [class.active]="infoPop == 1">
	<div class="page-title with-back">
		<span class="back" (click)="infoPop = 0">
			<img src="assets/images/down.png" />
		</span>
		Add your details
		<!-- <span class="page-title-btn">+ Add More</span> -->
	</div>

	<div class="content">
		<div class="row">
			<div class="col-12">
				<div class="form-row">
    				<input type="text" class="form-control" name="" value="" onchange="this.setAttribute('value', this.value);" />
    				<label>Name</label>
    				<span class="line"></span>
    			</div>
			</div>
			<!-- <div class="col-12">
				<div class="form-row">
    				<input type="text" class="form-control" name="" value="" onchange="this.setAttribute('value', this.value);" />
    				<label>Mobile Number</label>
    				<span class="line"></span>
    			</div>
			</div> -->
			<div class="col-md-12">
				<div class="row">
					<div class="col-10 offset-1">
						<div class="form-row">
							<button class="btn btn-full brdr">Save Details</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>