<ion-content>
	<div class="page-title with-back col-pm">
		<span class="back">
			<img src="assets/images/back.png" />
		</span>
		You've asked for a FavR
		<!-- <span class="page-title-btn">+ Add More</span> -->
	</div>
	<p class="page-subtitle">Please wait while nearby Droppers accept your requests
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="neg-mar">
					<img src="assets/images/map.png" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="range-slider-wrap">
					<div class="range-labels">
						<span class="title">My Area</span>
						<span class="value">{{ defDist }} Km</span>
					</div>
					<div class="range-slider">
						<ion-range min="5" max="30" [value]="defDist" (ionChange)="changeDist($event)"></ion-range>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h5 class="norm-title">Available Droppers</h5>
				<p class="norm-sub">Choose one from below</p>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-12">
						<div class="dropper-thumb">
							<div class="img">
								<div class="img-in">
									<img src="assets/images/dp.jpg" />
								</div>
							</div>
							<div class="dets">
								<span class="title">Dropper 1</span>
								<span class="sub">
									Very professional and hard..
									<span class="see-more">See More</span>
								</span>
							</div>
							<div class="rating">
								<span class="rate-full"></span>
								<span class="rate-full"></span>
								<span class="rate-full"></span>
								<span class="rate-full"></span>
								<span class="rate-empty"></span>
							</div>
						</div>
						<div class="dropper-thumb">
							<div class="img">
								<div class="img-in">
									<img src="assets/images/dp.jpg" />
								</div>
							</div>
							<div class="dets">
								<span class="title">Dropper 2</span>
								<span class="sub">
									Very professional and hard..
									<span class="see-more">See More</span>
								</span>
							</div>
							<div class="rating">
								<span class="rate-full"></span>
								<span class="rate-full"></span>
								<span class="rate-full"></span>
								<span class="rate-empty"></span>
								<span class="rate-empty"></span>
							</div>
						</div>
						<div class="dropper-thumb">
							<div class="img">
								<div class="img-in">
									<img src="assets/images/dp.jpg" />
								</div>
							</div>
							<div class="dets">
								<span class="title">Dropper 3</span>
								<span class="sub">
									Forgot most of the it..
									<span class="see-more">See More</span>
								</span>
							</div>
							<div class="rating">
								<span class="rate-full"></span>
								<span class="rate-empty"></span>
								<span class="rate-empty"></span>
								<span class="rate-empty"></span>
								<span class="rate-empty"></span>
							</div>
						</div>
						<div class="dropper-thumb">
							<div class="img">
								<div class="img-in">
									<img src="assets/images/dp.jpg" />
								</div>
							</div>
							<div class="dets">
								<span class="title">Dropper 4</span>
								<span class="sub">
									Very professional and hard..
									<span class="see-more">See More</span>
								</span>
							</div>
							<div class="rating">
								<span class="rate-full"></span>
								<span class="rate-full"></span>
								<span class="rate-full"></span>
								<span class="rate-full"></span>
								<span class="rate-full"></span>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="row mb-20">
							<div class="col-10 offset-1">
								<div class="form-row">
									<button routerLink="/shopper/track" class="btn btn-primary btn-full">Accept Dropper</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>

<div class="overlay" [class.active]="infoPop == 1" (click)="infoPop = 0"></div>
