.splash{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 123456434253;
	opacity: 1;
	pointer-events: unset;
	// visibility: visible;
	// transition: all 0.3s linear;
	&.splashHide{
		opacity: 0;
		pointer-events: none;
		// visibility: hidden;
	}
	img, video{
		position: absolute;
	    bottom: 0;
	    // transform: translateY(-50%);
	    left: 0;
	    height: 100%;
	    width: 100%;
	}
}