<div *ngIf="show == 0 || show == 1" class="container-fluid location-cart-wrap">
	<div class="location-wrap">
		<span class="icon">
			<app-svg name="loc"></app-svg>
		</span>
		<span class="text">User's Location</span>
	</div>
	<span class="cart-wrap">
		<span class="icon">
			<!-- <app-svg name="cart"></app-svg> -->
		</span>
	</span>
</div>

<div *ngIf="show == 0 || show == 2" class="app-footer">
	<a routerLinkActive="active" routerLink="/dropper/home" class="item">
		<span class="icon">
			<app-svg name="home"></app-svg>
		</span>
		<span class="text">Home</span>
	</a>
	<a routerLinkActive="active" routerLink="/dropper/favr" class="item">
		<span class="icon">
			<app-svg name="wallet"></app-svg>
		</span>
		<span class="text">FavR</span>
	</a>
	<!-- <a routerLinkActive="active" routerLink="/dropper" class="item">
		<span class="icon">
			<app-svg name="search"></app-svg>
		</span>
		<span class="text">Search</span>
	</a> -->
	<a routerLinkActive="active" routerLink="/dropper/orders" class="item">
		<span class="icon">
			<app-svg name="orders"></app-svg>
		</span>
		<span class="text">Orders</span>
	</a>
	<a routerLinkActive="active" routerLink="/profile" class="item">
		<span class="img">
			<img src="assets/images/dp.jpg" />
		</span>
		<span class="text">Profile</span>
	</a>
</div>