<ion-content>
  <div class="page-title with-back col-pm">
    <span routerLink="/profile" class="back">
      <img src="assets/images/back.png" />
    </span>
    Change Password
    <!-- <span class="page-title-btn">+ Add More</span> -->
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="form-row mb-20">
            <input type="password" placeholder=" " class="form-control" [(ngModel)]="passModel.password" name="password" value="" />
            <label>Enter new Password</label>
            <span class="line"></span>
        </div>
        <div class="form-row mb-20">
            <input type="password" placeholder=" " class="form-control" [(ngModel)]="passModel.conf_password" name="conf_password" value="" />
            <label>Confirm new Password</label>
            <span class="line"></span>
        </div>
        <div class="form-row">
          <button type="submit" (click)="changePw()" class="btn btn-full btn-primary">Change Password</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
