<!-- <ion-header>
  <ion-toolbar>
    <ion-title>verifyemail</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="row" style="margin-top: 100px;">
    <div class="col-10 offset-1">
      <h3 class="text-center">Email not verified. Please verify your email to continue.</h3>
      <div class="row">
        <div class="col-10 offset-1">
          <a class="btn btn-primary btn-full" routerLink="/">Click when verified.</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>