<ion-content>
	<app-loccart show="2"></app-loccart>
	<div class="page-title">Orders</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="orders-wrap neg-mar">
					<div class="title">Ongoing Orders</div>
					<div class="content">
						<div class="row">
							<div class="col-md-12">
								<div class="order-thumb">
									<span class="icon"></span>
									<div class="dets">
										<span class="title">XYZ has asked for a FavR</span>
										<div class="stats">
											<span class="item"><span class="x2">20</span> Items</span>
											<span class="item">Estimated: <span class="x2">&#8364; 20</span></span>
										</div>
										<div class="btn-wrap">
											<button class="btn brdr btn-sm mb-0">
												<!-- <span class="icon"><app-svg name="gps"></app-svg></span> -->
												Order Window
											</button>
											<!-- <button class="btn with-icon brdr btn-sm mb-0">
												<span class="icon"><app-svg name="share"></app-svg></span>
												Share
											</button> -->
										</div>
									</div>
									<div class="time">
										<p>02:20 AM</p>
										<p>Cash</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="orders-wrap neg-mar">
					<div class="title">Past Orders</div>
					<div class="content">
						<div class="row">
							<div class="col-md-12">
								<div class="order-thumb">
									<span class="icon"></span>
									<div class="dets">
										<span class="title">XYZ has asked for a FavR</span>
										<div class="stats">
											<span class="item"><span class="x2">20</span> Items</span>
											<span class="item">Estimated: <span class="x2">&#8364; 20</span></span>
										</div>
										<div class="btn-wrap">
											<h5>Offer Price - </h5>
										</div>
									</div>
									<div class="time">
										<p class="delv">Delivered</p>
									</div>
								</div>
	        					<hr class="thin neg-mar mb-20" />
								<div class="order-thumb">
									<span class="icon"></span>
									<div class="dets">
										<span class="title">XYZ has asked for a FavR</span>
										<div class="stats">
											<span class="item"><span class="x2">20</span> Items</span>
											<span class="item">Estimated: <span class="x2">&#8364; 20</span></span>
										</div>
										<div class="btn-wrap">
											<h5>Offer Price - </h5>
										</div>
									</div>
									<div class="time">
										<p class="delv">Delivered</p>
									</div>
								</div>
	        					<hr class="thin neg-mar mb-20" />
								<div class="order-thumb">
									<span class="icon"></span>
									<div class="dets">
										<span class="title">XYZ has asked for a FavR</span>
										<div class="stats">
											<span class="item"><span class="x2">20</span> Items</span>
											<span class="item">Estimated: <span class="x2">&#8364; 20</span></span>
										</div>
										<div class="btn-wrap">
											<h5>Offer Price - </h5>
										</div>
									</div>
									<div class="time">
										<p class="delv">Delivered</p>
									</div>
								</div>
	        					<hr class="thin neg-mar mb-20" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section"></div>
</ion-content>