<div *ngIf="show == 0 || show == 1" class="container-fluid location-cart-wrap">
	<div class="location-wrap" (click)="locpop = 1">
		<span class="icon">
			<app-svg name="loc"></app-svg>
		</span>
		<span class="text">User's Location</span>
	</div>
	<span class="cart-wrap">
		<span class="icon">
			<app-svg name="cart"></app-svg>
		</span>
	</span>
</div>

<div class="overlay" [class.active]="locpop == 1" (click)="locpop=0"></div>
<div *ngIf="show == 0 || show == 1" class="loc-popup" [class.active]="locpop == 1">
	<div class="popup-title">
		<span class="icon" (click)="locpop=0">
			<app-svg name="down"></app-svg>
		</span>
		<span class="text">Search Location</span>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="search-box">
					<span class="icon">
						<app-svg name="search"></app-svg>
					</span>
					<input type="text" name="" value="" placeholder="Search for your location" />
				</div>
			</div>
			<div class="col-12">
				<span class="btn with-icon auto-loc-btn">
					<span class="icon">
						<app-svg name="gps"></app-svg>
					</span>
					Use current location
				</span>
				<hr>
			</div>
		</div>
	</div>
	<div class="container-fluid section address-section">
		<div class="row align-center">
			<div class="col-8">
				<h5 class="section-title">Saved Adddress</h5>
			</div>
		</div>
		<div class="row address-item-wrap">
			<div class="col-12">
				<div class="row address-item">
					<div class="col-8">
						<h5>Home</h5>
						<p>House Number , Street Name, City, Area, Pin code</p>
					</div>
					<div class="col-4">
						<span class="dist">
							<span class="icon">
								<app-svg name="loc"></app-svg>
							</span>
							<span class="text">11.2 km</span>
						</span>
					</div>
					<div class="col-12">
						<hr class="thin" />
					</div>
				</div>
				<div class="row address-item">
					<div class="col-8">
						<h5>Office</h5>
						<p>House Number , Street Name, City, Area, Pin code</p>
					</div>
					<div class="col-4">
						<span class="dist">
							<span class="icon">
								<app-svg name="loc"></app-svg>
							</span>
							<span class="text">11.2 km</span>
						</span>
					</div>
					<div class="col-12">
						<hr class="thin" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="show == 0 || show == 2" class="app-footer">
	<a routerLinkActive="active" routerLink="/shopper/home" class="item">
		<span class="icon">
			<app-svg name="home"></app-svg>
		</span>
		<span class="text">Home</span>
	</a>
	<a routerLinkActive="active" routerLink="/shopper/favr" class="item">
		<span class="icon">
			<app-svg name="wallet"></app-svg>
		</span>
		<span class="text">FavR</span>
	</a>
	<a routerLink="/shopper" class="item">
		<span class="icon">
			<app-svg name="search"></app-svg>
		</span>
		<span class="text">Search</span>
	</a>
	<a routerLinkActive="active" routerLink="/shopper/orders" class="item">
		<span class="icon">
			<app-svg name="orders"></app-svg>
		</span>
		<span class="text">Orders</span>
	</a>
	<a routerLinkActive="active" routerLink="/profile" class="item">
		<span class="img">
			<img src="assets/images/dp.jpg" />
		</span>
		<span class="text">Profile</span>
	</a>
</div>