<!-- <ion-header>
  <ion-toolbar>
    <ion-title>saved</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-loccart show="2" *ngIf="showPage == 1 && userDets.role_id == 2"></app-loccart>
<app-loccart show="2" *ngIf="showPage == 1 && userDets.role_id == 3"></app-loccart>
<ion-content>
	<div *ngIf="showPage == 1" class="page-title with-back col-pm">
		<span routerLink="/profile" class="back">
			<img src="assets/images/back.png" />
		</span>
		Saved Products
		<!-- <span class="page-title-btn">+ Add More</span> -->
	</div>
	<div *ngIf="showPage == 1" class="container-fluid section product-wrap">
		<div class="row">
			<div class="col-4 product-thumb-wrap" *ngFor="let pop of allProds">
				<div class="product-thumb">
        			<span class="fav-star-wrap" [class.active]="userSaved.indexOf(pop.id.toString()) > -1" (click)="saveUserProduct(pop.id)">
        				<span class="fav-star"></span>
        			</span>
        			<div class="image">
        				<img [src]="ProdImgUrl+'products/300_300/'+pop.image_url" *ngIf="pop.image_url" />
        				<img src="assets/images/none.jpg" *ngIf="!pop.image_url" />
    				</div>
    				<h6 class="title">{{ pop.name }}</h6>
    				<p class="subtitle" *ngIf="pop.pricing > 0">Estimated <span class="price">&#8364; {{ pop.pricing }}</span></p>
    				<p class="subtitle" *ngIf="pop.pricing == 0">&nbsp;</p>
    				<button *ngIf="!cartProd[pop.id]" (click)="addProd(pop.id, pop.pricing, pop.name, pop.image_url)" class="pt-add-btn">Add<span class="plus">+</span></button>
    				<span class="pt-num" *ngIf="cartProd[pop.id]">
    					<span class="pt-wp-add-btn minus" (click)="subProd(pop.id)">-</span>{{ cartProd[pop.id]['quantity'] }}<span class="pt-wp-add-btn plus" (click)="addProd(pop.id, pop.pricing, pop.name, pop.image_url)">+</span>
    				</span>
        		</div>
			</div>
		</div>
	</div>
	<div class="home-cart-popup" [class.active]="cartLength">
		<span class="icon"><app-svg name="cart"></app-svg></span>
		<span class="text">{{ this.cartLength }} Item<span *ngIf="cartLength > 1">s</span><span class="sep-dot"></span><span class="value" (click)="clearCart()">(Clear)</span></span>
		<a routerLink="/shopper/cart" class="view-cart-btn">View Cart</a>
	</div>
</ion-content>
