<ion-content>
	<app-loccart show="2"></app-loccart>
	<div class="page-title">FavR</div>
	<div class="container-fluid section" *ngIf="showPage == 1">
		<!-- <div class="row align-center">
			<div class="col-8">
				<h5 class="section-title">Favr</h5>
			</div>
			<div class="col-4 text-right"></div>
		</div> -->
		<div class="row">
			<div class="col-8 offset-2">
				<div class="favr-total">
					<div class="row align-center">
						<div class="col-4">
							<span class="icon">
								<app-svg name="wallet"></app-svg>
							</span>
						</div>
						<div class="col-8">
							<span class="text">Your Current</span>
							<span class="text"> FavR is</span>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<h1 class="text-center">{{ userDets.current_credit }}</h1>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<p class="text-center">You need atleast {{ config.credit_per_order }} FavR to place an Order</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="rev-section" *ngIf="showPage == 1">
		<div class="title" (click)="buyFavrPop = (buyFavrPop == 1)?0:1">
			Buy Some FavR
			<span class="down" [class.active]="buyFavrPop == 1">
				<app-svg name="down1"></app-svg>
			</span>
		</div>
		<div class="content" *ngIf="buyFavrPop == 1">
			<p>Choose one from below</p>
			<ion-slides scrollbar="true" [options]="priceSlideOpts">
		        <ion-slide *ngFor="let plan of plans">
		          	<div class="favr-cost-thumb">
		          		<input type="radio" name="selectedPlan" [(ngModel)]="selectedPlan" (change)="setPlan(plan.credit_qty, plan.price)" value="{{ plan.id }}" id="plan{{ plan.id }}" />
		          		<label for="plan{{ plan.id }}" class="in">{{ plan.credit_qty }} FavR = &#8364; {{ plan.price }}</label>
		          	</div>
		        </ion-slide>
		        <!-- <ion-slide>
		          	<div class="favr-cost-thumb">
		          		<input type="radio" name="selectedPlan" [(ngModel)]="selectedPlan" value="2" id="plan2" />
		          		<label for="plan2" class="in">5 FavR = &#8364; 5.66</label>
		          	</div>
		        </ion-slide>
		        <ion-slide>
		          	<div class="favr-cost-thumb">
		          		<input type="radio" name="selectedPlan" [(ngModel)]="selectedPlan" value="3" id="plan3" />
		          		<label for="plan3" class="in">7 FavR = &#8364; 7.66</label>
		          	</div>
		        </ion-slide>
		        <ion-slide>
		          	<div class="favr-cost-thumb">
		          		<input type="radio" name="selectedPlan" [(ngModel)]="selectedPlan" value="4" id="plan4" />
		          		<label for="plan4" class="in">10 FavR = &#8364; 10.66</label>
		          	</div>
		        </ion-slide>
		        <ion-slide>
		          	<div class="favr-cost-thumb">
		          		<input type="radio" name="selectedPlan" [(ngModel)]="selectedPlan" value="5" id="plan5" />
		          		<label for="plan5" class="in">15 FavR = &#8364; 15.66</label>
		          	</div>
		        </ion-slide> -->
	        </ion-slides>
	        <hr *ngIf="selectedPlan > 0" class="thin neg-mar mb-20" />
	        <p *ngIf="selectedPlan > 0">You are recharging: <span class="favr-selected-thumb">{{ selectedPlanCredit }} FavR = &#8364; {{ selectedPlanPrice }}</span></p>
	        <hr *ngIf="selectedPlan > 0" class="thin neg-mar mb-20" />
	        <div *ngIf="selectedPlan > 0" class="row">
	        	<div class="col-12">
	        		<div class="form-row">
                        <input type="number" class="form-control" [(ngModel)]="cardModel.number" name="number" value="" placeholder=" " data-maxlength="16" oninput="this.value=this.value.slice(0,this.dataset.maxlength)" />
                        <label>Card Number</label>
                        <span class="card-info-btn" (click)="infoPopOpen = 1"><i class="fas fa-info-circle"></i></span>
                        <span class="line"></span>
                    </div>
	        	</div>
	        	<div class="col-6">
	        		<div class="row">
			        	<div class="col-6">
			        		<div class="form-row mb-20">
		                        <input type="number" class="form-control" [(ngModel)]="cardModel.expMonth" name="expMonth" value="" placeholder=" " data-maxlength="2" oninput="this.value=this.value.slice(0,this.dataset.maxlength)" />
		                        <label>MM</label>
                        		<span class="card-info-btn" (click)="infoPopOpen = 1"><i class="fas fa-info-circle"></i></span>
		                        <span class="line"></span>
		                    </div>
			        	</div>
			        	<div class="col-6">
			        		<div class="form-row mb-20">
		                        <input type="number" class="form-control" [(ngModel)]="cardModel.expYear" name="expYear" value="" placeholder=" " data-maxlength="4" oninput="this.value=this.value.slice(0,this.dataset.maxlength)" />
		                        <label>YYYY</label>
                    			<span class="card-info-btn" (click)="infoPopOpen = 1"><i class="fas fa-info-circle"></i></span>
		                        <span class="line"></span>
		                    </div>
			        	</div>
	        		</div>
	        	</div>
	        	<div class="col-6">
	        		<div class="form-row mb-20">
                        <input type="number" class="form-control" [(ngModel)]="cardModel.cvc" name="cvc" value="" placeholder=" " data-maxlength="3" oninput="this.value=this.value.slice(0,this.dataset.maxlength)" />
                        <label>CVC/CVV</label>
                        <span class="card-info-btn" (click)="infoPopOpen = 1"><i class="fas fa-info-circle"></i></span>
                        <span class="line"></span>
                    </div>
	        	</div>
	        </div>
	        <div *ngIf="selectedPlan > 0" class="row">
	        	<div class="col-10 offset-1">
	        		<button (click)="initPayment()" class="btn btn-primary btn-full">Buy FavR</button>
        		</div>
    		</div>
		</div>
	</div>
	<div class="rev-section" *ngIf="showPage == 1">
		<div class="title" (click)="favrHistPop = (favrHistPop == 1)?0:1">
			FavR History
			<span class="down" [class.active]="favrHistPop == 1">
				<app-svg name="down1"></app-svg>
			</span>
		</div>
		<div class="content" *ngIf="favrHistPop == 1">
			<div *ngFor="let month of favTrans | keyvalue:0">
				<p>{{ month.key | date:'MMMM y' }}</p>
				<div class="favr-history-item" *ngFor="let trans of month.value">
		        	<span class="icon">
		        		<app-svg *ngIf="trans.transaction_type == 'Got'" name="check"></app-svg>
		        		<app-svg *ngIf="trans.transaction_type == 'Spent'" name="wallet"></app-svg>
		        		<app-svg *ngIf="trans.transaction_type == 'Purchased'" name="check"></app-svg>
		        	</span>
					<div class="dets">
						<p *ngIf="trans.transaction_type == 'Purchased'" class="title">Purchased {{ trans.credit_qty }} FavRs</p>
						<p *ngIf="trans.transaction_type == 'Got'" class="title">Got {{ trans.credit_qty }} FavRs</p>
						<p *ngIf="trans.transaction_type == 'Spent'" class="title">Used {{ trans.credit_qty }} FavRs</p>

						<span class="date">{{ trans.created_at | date:'d/M/yy' }}</span>
					</div>
					<div class="time">{{ trans.created_at | date:'h:mm a' }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section"></div>
</ion-content>

<div class="buying-favr-popup" *ngIf="payPopOpen == 1">
	<div class="buy-pop-in">
		<div class="pay-load-wrap">
			<img src="assets/loaders/payment.png" class="block center" />
		</div>
		<h4>{{ payMsg }}</h4>
	</div>
</div>
<div class="overlay" [class.active]="infoPopOpen == 1" (click)="infoPopOpen = 0"></div>
<div class="card-info-popup" *ngIf="infoPopOpen == 1">
	<span class="close" (click)="infoPopOpen = 0">&times;</span>
	<p>Information about this button.</p>
</div>

