<ion-content>
	<app-loccart #loccart *ngIf="showPage == 1 && user_type == 2" show="2"></app-loccart>
	<app-loccartt #loccartt *ngIf="showPage == 1 && user_type == 3" show="2"></app-loccartt>
	<div *ngIf="showPage == 1" class="profile-head align-center">
		<div class="row">
			<div class="col-12 text-center">
				<div class="row">
					<div class="col-6 offset-3">
						<div class="img">
							<span class="img-in">
								<input type="file" class="hidden" name="dp" #userfile id="userfileInp" (change)="onDpChange(userfile.files)" />
						 		<label for="userfileInp" class="edit-icon"><i class="fas fa-edit"></i></label>
								<img *ngIf="userDets.image_url == null" src="assets/images/dp.jpg" id="userDp" />
								<img *ngIf="!(userDets.image_url == null)" src="{{ ProdImgUrl }}/users/{{ userDets.image_url }}" id="userDp" />
								<div *ngIf="user_type == 2" class="type">Shopper</div>
								<div *ngIf="user_type == 3" class="type">Dropper</div>
							</span>
						</div>	
					</div>
				</div>
			</div>
			<div class="col-12 text-center">
				<div class="dets">
					<h1>
						<span *ngIf="editName == 1" contenteditable="true" [textContent]="userDets.first_name" (input)="userDets.first_name=$event.target.textContent"></span>
						
						<span *ngIf="editName == 1" contenteditable="true" [textContent]="userDets.last_name" (input)="userDets.last_name=$event.target.textContent"></span>

						<span *ngIf="editName == 0">{{ userDets.first_name }} {{ userDets.last_name }}</span>
						<span *ngIf="editName == 0" (click)="editName = 1" class="edit-icon"><i class="fas fa-edit"></i></span>
						<span *ngIf="editName == 1" (click)="updateUser()" class="edit-icon"><i class="fas fa-arrow-right"></i></span>
					</h1>
					<p>
						<span *ngIf="editEmail == 1" contenteditable="true" [textContent]="userDets.email" (input)="userDets.email=$event.target.textContent"></span>
						<span *ngIf="editEmail == 0">{{ userDets.email }}</span>
						<!-- <span *ngIf="editEmail == 0" (click)="editEmail = 1" class="edit-icon"><i class="fas fa-edit"></i></span> -->
						<span *ngIf="editEmail == 1" (click)="editEmail = 0" class="edit-icon"><i class="fas fa-arrow-right"></i></span>
					</p>
					<p>
						<span *ngIf="editPhone == 1" contenteditable="true" [textContent]="userDets.phone_no" (input)="userDets.phone_no=$event.target.textContent"></span>
						<span *ngIf="editPhone == 0">{{ userDets.phone_no }}</span>
						<!-- <span *ngIf="editPhone == 0" (click)="editPhone = 1" class="edit-icon"><i class="fas fa-edit"></i></span> -->
						<span *ngIf="editPhone == 1" (click)="editPhone = 0" class="edit-icon"><i class="fas fa-arrow-right"></i></span>
					</p>
					<!-- <p>{{ userDets.phone_no }} <span class="edit-icon"><i class="fas fa-edit"></i></span></p> -->
				</div>
			</div>
		</div>
	</div>
	<ul *ngIf="showPage == 1" class="profile-menu">
		<li>
			<span href="#">
				<div class="head">
					<span class="icon">
						<app-svg name="profile"></app-svg>
					</span>
					<span class="text">
						Switch profile
						<span class="profile-switcher" (click)="changeUserRole()">
							<span class="switch-btn" [class.drop]="user_type == 3">
								<span *ngIf="user_type==2">Shopper</span>
								<span *ngIf="user_type==3">Dropper</span>
							</span>
						</span>
					</span>
				</div>
			</span>
		</li>
		<li *ngIf="user_type == 2">
			<a routerLink="/saved" href="#">
				<div class="head">
					<span class="icon">
						<app-svg name="star"></app-svg>
					</span>
					<span class="text">Saved Items</span>
				</div>
				<!-- <div class="extra">10 Products</div> -->
			</a>
		</li>
		<li *ngIf="user_type == 2">
			<a routerLink="/shopper/orders">
				<div class="head">
					<span class="icon">
						<app-svg name="orders"></app-svg>
					</span>
					<span class="text">Order History</span>
				</div>
				<!-- <div class="extra">10 orders</div> -->
			</a>
		</li>
		<li *ngIf="user_type == 3">
			<a routerLink="/dropper/orders">
				<div class="head">
					<span class="icon">
						<app-svg name="orders"></app-svg>
					</span>
					<span class="text">Order History</span>
				</div>
				<!-- <div class="extra">10 orders</div> -->
			</a>
		</li>
		<li>
			<a routerLink="/pages/about">
				<div class="head">
					<span class="icon">
						<app-svg name="info"></app-svg>
					</span>
					<span class="text">About Us</span>
				</div>
			</a>
		</li>
		<li>
			<a (click)="chatOpen = 1">
				<div class="head">
					<span class="icon">
						<app-svg name="help"></app-svg>
					</span>
					<span class="text">Help &amp; Support</span>
				</div>
			</a>
		</li>
		<li>
			<a routerLink="/faqs">
				<div class="head">
					<span class="icon">
						<app-svg name="faq"></app-svg>
					</span>
					<span class="text">FAQs</span>
				</div>
			</a>
		</li>
		<li>
			<a (click)="logoutUser()">
				<div class="head">
					<span class="icon">
						<app-svg name="logout"></app-svg>
					</span>
					<span class="text">Logout</span>
				</div>
			</a>
		</li>
	</ul>
</ion-content>
<div class="chat-window" [class.active]="chatOpen == 1">
	<div class="title">
		<span class="img">
			<span class="img-in">
				<img src="assets/images/logo.png" />
			</span>
		</span>
		<span class="name">
			Favr
			<!-- <span class="call">
				<span class="call-icon">
					<app-svg name="call"></app-svg>
				</span>
			</span> -->
		</span>
		<span class="close" (click)="chatOpen = 0">&times;</span>
	</div>
	<div class="content" *ngIf="messages">
		<div *ngFor="let message of messages | keyvalue">
			<div class="chat-text" [class.to]="message.value.to == 'admin'" [class.from]="!(message.value.to == 'admin')">
				<span class="bubble" [class.to]="message.value.to == 'admin'" [class.from]="!(message.value.to == 'admin')">
					<a *ngIf="!(message.value.file == '' || message.value.file == 'na')" href="http://admin.favr.ie/uploads/attachments/{{ message.value.file }}" class="file-wrap">
						<img src="http://admin.favr.ie/uploads/attachments/{{ message.value.file }}" class="img-fluid" />
					</a>
					<span *ngIf="message.value.message != 'undefined'">{{ message.value.message }}</span>
				</span>
			</div>
		</div>
		<!-- <div class="chat-text from">
			<span class="bubble from">Hii..</span>
		</div> -->
	</div>
	<div class="content" *ngIf="!messages">
		No messages
	</div>
	<form (submit)="sendMessage()">
		<div class="chat-inp">
			<div class="field">
				<textarea name="message" [(ngModel)]="chatModel.message"></textarea>
			</div>
			<div class="att-btn">
				<input class="hidden" type="file" #file id="fileInp" (change)="onChange(file.files)">
				<label for="fileInp">
					<span class="icon">
						<app-svg name="att"></app-svg>
					</span>
				</label>
			</div>
			<div class="send-btn-wrap">
				<button type="submit">Send</button>
			</div>
		</div>
	</form>
</div>
