/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@font-face{
	font-family: "Proxima Nova Medium";
	src: url('assets/fonts/prnvm.ttf');
}
body{
	// font-family: "Proxima Nova Medium";
	// font-family: 'Lato', sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-font-smoothing: antialiased;
}

.map-wrap{
	position: relative;
}
agm-map{
	position: relative;
	z-index: 1;
	height: 400px;
}

.map-btn-wrap{
	position: absolute;
	bottom: 10px;
	width: 40px;
	left: 10px;
	z-index: 2;
	.map-btn{
		position: relative;
		margin-top: 10px;
		width: 40px;
		height: 40px;
		background-color: #FFF;
		border-radius: 40px;
		border: 1px solid #EEE;
		box-shadow: 0px 0px 3px rgba(0,0,0,0.09);
		.icon{
			width: 20px;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.view-all-sec-btn{
	font-size: 14px;
	color: #6D7278;
	letter-spacing: 0.35px;
}


.mb-20{
	margin-bottom: 20px !important;
}

.mb-m50{
	margin-bottom: -50px !important;
}
.mb-0{
	margin-bottom: 0px !important
}
.hidden{
	display: none;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1.2;
}
h5{
	font-size: 16px;
}
h6{
	font-size: 14px;
}
p{
	color: #6D7278;
	letter-spacing: 0.4px;
}
.form-row{
	position: relative;
	margin: 0px;
	margin-top: 20px;
	font-family: "IBM Plex Sans", sans-serif !important;
    font-weight: 500;
    &.with-predrop{
    	margin-left: 70px;
    }
    .predrop{
    	position: absolute;
	    left: -70px;
	    top: 0;
	    height: 50px;
	    width: 60px;
	    opacity: 0;
	    z-index: 2;
    }
    .predrop-disp{
    	position: absolute;
	    left: -70px;
	    top: 0;
	    z-index: 1;
	    height: 50px;
	    width: 60px;
	    border: none;
	    text-align: left;
	    padding: 0px;
	    background: #FFF;
	    font-size: 1rem;
	    line-height: 50px;
	    font-weight: 900;
	    border-bottom: 1px solid #D8D8D8;
    }
	.form-control{
		position: relative;
		border: none;
		border-radius: 0px;
		border-bottom: 1px solid #D8D8D8;
		box-shadow: none;
		height: 50px;
		padding: 0px 10px;
		z-index: 2;
		background-color: transparent;
		~label{
			color: #6D7278;
			letter-spacing: 0.45px;
			position: absolute;
			z-index: 1;
			line-height: 10px;
			top: -10px;
			left: 0px;
			font-size: 12px;
			
			transition: all 0.3s linear;
		}
		~.line{
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			background-color: red;
			width: 0px;
			transition: all 0.3s linear;
		}
		&:focus{
			~ .line{
				width: 100%;
			}
		}
		&:placeholder-shown{
    		// border: 1px solid red; /* Red border only if the input is empty */
    		~label{
				font-size: 15px;
				top: 10px;
				left: 0px;
				line-height: 30px;
			}
			&:focus{
				~label{
					line-height: 10px;
					top: -10px;
					left: 0px;
					font-size: 12px;
				}
			}
		}
		&:not(:placeholder-shown){
			// background-color: #DDD;
			~label{
				line-height: 10px;
				top: -10px;
				left: 0px;
				font-size: 12px;
			}
		}
		// &:not([value=""]){
		// 	~label{
		// 		line-height: 10px;
		// 		top: -10px;
		// 		left: 0px;
		// 		font-size: 12px;
		// 	}
		// }
	}
}
.swiper-container-horizontal>.swiper-scrollbar{
	opacity: 1 !important;
}
.btn{
	height: 60px;
	position: relative;
	border-radius: 13px;
	border: 1px solid transparent;
	padding: 0px 15px;
	line-height: 58px;
	background-color: transparent;
	color: #709B78;
	font-size: 18px;
    font-weight: 700;
    &.with-icon{
    	padding-left: 30px;
    }
    &.btn-sm{
    	height: 40px;
    	line-height: 38px;
    	font-size: 15px;
    }
    &.brdr{
    	border: 1px solid #DDD;
    	// margin-bottom: 40px;
    }
	&.btn-full{
		width: 100%;
	}
	&.btn-primary{
		color: #FFF;
		background-color: #709B78;
	}
	.icon{
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
		display: inline-block;
		width: 15px;
	}
}

.block{
	display: block;
	&.center{
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

svg{
	max-width: 100%;
	width: 100%;
} 
.ion-page{
	// padding-bottom: 150px;
}
// ion-content{
// 	position: relative;
// 	z-index: 2345;
// }


.price{
	display: block;
	text-align: right;
	font-size: 15px;
	.x2{
		font-size: 20px;
		font-weight: 600;
	}
	.inp{
		display: inline-block;
		margin-left: 5px;
		input{
			width: 60px;
			text-align: center;
			height: 34px;
			border-radius: 7px;
			border: 1px solid #979797;
		}
	}
	&.big{
		font-weight: 700;
		color: #709B78;
		font-size: 18px;
		.x2{
			font-size: 24px;
		}
	}
}

.app-footer{
	position: fixed;
	bottom: 0;
	z-index: 2345;
	left: 0;
	background-color: #FFF;
	right: 0;
	display: flex;
	// height: 80px;
	box-shadow: 0px -2px 10px rgba(0,0,0,0.15);
	.item{
		position: relative;
		flex: 1;
		&:before{
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			right: 0;
			height: 5px;
			width: 50px;
			background-color: #709B78;
			content: "";
			display: none;
		}
		&.active{
			&:before{
				display: block;
			}
		}
		.icon{
			display: block;
		    width: 24px;
		    height: 30px;
		    overflow: hidden;
		    margin: 5px auto;
		    margin-top: 15px;
		    overflow: hidden;
			>>> svg{
				width: 100%;
			}
		}
		.img{
			position: relative;
			display: block;
			width: 35px;
			height: 35px;
			margin: 5px auto;
			margin-top: 10px;
			overflow: hidden;
			border-radius: 35px;
			> img{
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				height: 100%;
				width: auto;
				max-width: unset;
			}
		}
		.text{
			display: block;
			margin-bottom: 10px;
			line-height: 13px;
			font-size: 13px;
			font-weight: 700;
			text-align: center;
			color: #709B78;
		}
	}
}
.search-back{
	display: inline-block;
	height: 50px;
	width: 30px;
	img{
		width: 20px;
		height: 20px;
		display: inline-block;
		margin-top: 15px;
	}
}
.search-box{
	display: block;
	position: relative;
	input{
		width: 100%;
		padding: 0px 15px;
		padding-left: 40px;
		height: 50px;
		border: none;
		box-shadow: 0px 2px 8px #EEE;
		border-radius: 5px; 
	}
	.icon{
		position: absolute;
		top: 16px;
		left: 10px;
		display: inline-block;
		width: 20px;
	}
}

.swiper-wrapper{
	// padding-bottom: 20px;
}
.swiper-slide{
	display: block;
}

.swiper-pagination{
	// display: none;
	bottom: 0px !important;
}

.loader{
	.loader-in{
		display: inline-block;
		width: 100px;
		margin: 20px 0px;
		img{
			width: 100%;
			height: auto;
		}
	}
}

$dotColors: #4285F4, #EA4335, #FBBC05, #34A853;
$bob-distance: 23%;
.dot-loader{
	padding: 50px;
	text-align: center;
	.dot {
	  	animation: bob 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
	  	border-radius: 100%;
	  	// float: left;
	  	display: inline-block;
	  	vertical-align: top;
	  	height: 7px;
	  	width: 7px;
	  	transform: translateY(-$bob-distance);
		  
	  	&:not(:last-child) {
		    margin-right: 10px;
	  	}
		  
	  	@for $i from 1 through 4 {
	    	&:nth-child(#{$i}) {
		      	$color: nth($dotColors, $i);
		      	animation-delay: $i * 0.15s;
		      	background-color: $color;
		    }
	  	}
	}
}

@keyframes bob {
  	0% {
    	transform: translateY(-$bob-distance);
  	}
  
  	50% {
    	transform: translateY($bob-distance);
  	}
  
  	100% {
    	transform: translateY(-$bob-distance);
  	}
}

.cat-thumb{
	padding: 0;
    text-align: center;
    margin: 20px 5px;
    // box-shadow: 0px 0px 10px rgba(102,102,102,0.2);
    border-radius: 15px;
    &.active{
    	background-color: #DDD;
    	border: 2px solid #6D7278;
    }
    .img{
		display: block;
		position: relative;
		border-radius: 10px;
		padding-top: 100%;
		overflow: hidden;
		img{
			position: absolute;
			height: 100%;
			width: auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.text{
		display: block;
	    font-size: 12px;
	    font-weight: 700;
	    position: relative;
	    color: #709B78;
	    white-space: nowrap;
	    margin-left: -15px;
	    margin-right: -15px;
	}
}
.product-wrap{
	padding: 0px 30px;
}
.subcat-wrap{
	display: flex;
	width: 100%;
	.cat-back-btn{
		flex: 1;
		width: 25%;
		.img{
			img{
				height: 60%;
			}
		}
	}
	.cat-thumb-wrap{
		flex: 3;
		width: 75%;
		.cat-thumb-wrap{
			display: block;
		}
	}
}

.address-thumb{
	display: block;
    padding: 10px;
    margin: 5px;
    border: 2px solid transparent;
    border-radius: 15px;
    text-align: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	&.active{
		border-color: #6D7278;
		background-color: #FAFAFA;
	}
	.address-title{
		font-size: 18px;
		font-weight: 700;
		color: #709B78;
		margin-bottom: 10px;
	}
	.address-content{
		p{
			color: #222;
			font-size: 13px;
			margin: 0px;
			b{
				font-weight: 700;
			}
		}
	}
}

.align-center{
	align-items: center;
}

.align-end{
	align-items: flex-end;
}
hr{
	margin: 0px;
	height: 10px;
	background-color: #EEE;
	&.thin{
		height: 1px;
	}
}
.section{
	&:last-child{
		margin-bottom: 70px;
	}
}
.section-title{
	color: #6D7278;
	letter-spacing: 0.45px;
}
.product-thumb-wrap{
	padding: 0px 2px;
}
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0;
	visibility: hidden;
	z-index: 1230;
	transition: all 0.3s linear;
	&.active{
		visibility: visible;
		opacity: 0.8;
	}
}
.product-thumb{
	position: relative;
	text-align: left;
	padding: 5px;
	// margin: 10px 0px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-radius: 17px;
	background-color: #F4F5F6;
	.fav-star-wrap{
	    position: absolute;
	    top: 4px;
	    right: 4px;
	    width: 20px;
	    height: 20px;
	    line-height: 20px;
	    text-align: center;
	    color: #FFC830;
	    z-index: 23;
	    font-size: 24px;
	    .fav-star{
	    	&:before{
	    		content: "\2606";
	    	}
	    }
	    &.active{
	    	.fav-star{
	    		&:before{
	    			content: "\2605";
	    		}
	    	}
	    }
	}
	.image{
		position: relative;
		display: block;
		height: 100px;
		overflow: hidden;
		border-radius: 15px;
		img{
			position: absolute;
			top: 0%;
			height: 100%;
			width: auto;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.title{
		margin: 5px 0px;
		color: #6D7278;
		letter-spacing: 0.35px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.subtitle{
		white-space: nowrap;
		font-size: 10px;
		color: #A9ADB3;
		letter-spacing: 0.25px;
		height: 15px;
		.price{
			display: inline;
			font-size: 12px;
			color: #000000;
			letter-spacing: 0.35px;
		}
	}
	.pt-add-btn{
		display: block;
		width: 100%;
		position: relative;
		line-height: 28px;
		border-radius: 12.5px;
		background-color: #709B78;
		padding: 0px 10px;
		padding-right: 0px;
		color: #FFF;
		font-size: 12px;
		letter-spacing: 0.21px;
		text-align: left;
		font-weight: 600;
		.plus{
			display: inline-block;
		    line-height: 26px;
		    height: 28px;
		    font-size: 22px;
		    text-align: center;
		    color: white;
		    margin-left: 0px;
		    margin-top: 0px;
		    vertical-align: top;
		    border-left: 1px solid;
		    width: 29px;
		    float: right;
		}
	}
}

.spacer{
	height: 140px;
}
.red-sm{
	font-size: 11px;
	color: #F00;
}
.pt-num{
	display: block;
	height: 28px;
	position: relative;
	width: 100%;
	display: block;
	line-height: 28px;
	font-size: 17px;
	font-weight: 700;
	color: #709B78;
	text-align: center;
	.pt-wp-add-btn{
		display: inline-block;
		top: 0;
		left: 0;
		height: 28px;
		width: 28px;
	    font-size: 22px;
	    font-weight: 400;
	    line-height: 26px;
		color: #FFF;
		position: absolute;
		background-color: #709B78;
		&.minus{
			border-bottom-left-radius: 30px;
			border-top-left-radius: 30px;
		}
		&.plus{
			left: unset;
			right: 0;
			border-bottom-right-radius: 30px;
			border-top-right-radius: 30px;
		}
	}
}
.page-title{
	position: relative;
	padding: 15px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
	letter-spacing: 0.45px;
    text-transform: capitalize;
    margin-top: 20px;
    z-index: 12;
    &.col-pm{
		color: #4EA071;
    }
    &.with-back{
    	padding-left: 50px;
    }
    .back{
    	width: 20px;
    	top: 50%;
    	left: 15px;
    	position: absolute;
    	transform: translateY(-50%);
    	&.right{
    		width: 5px;
    		left: unset;
    		right: 15px;
    	}
    	img{
    		width: 100%;
    	}
    }

    .page-title-btn{
    	display: inline-block;
	    float: right;
	    line-height: 20px;
	    font-size: 13px;
	    color: #6D7278;
	    text-transform: initial;
	    font-weight: 700;
	    &.red{
	    	color: #F00;
	    }
    }
}
.page-subtitle{
	padding: 15px;
	font-weight: 400;
	font-size: 15px;
	color: #6D7278;
	letter-spacing: 0.4px;
}
.rev-section{
	border-bottom: 10px solid #EEE;
	> .title{
		position: relative;
		padding: 0px 15px;
		line-height: 50px;
		font-weight: 700;
		font-size: 18px;
		color: #6D7278;
		padding-right: 35px;
		letter-spacing: 0.45px;
		.down{
			display: inline-block;
			position: absolute;
			top: 50%;
			right: 10px;
			width: 15px;
			transform: translateY(-50%);
			&.active{
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
	> .content{
		padding: 0px 15px;
		// display: none;
		// transform: scaleY(0);
		transition: all 0.3s linear;
		transition-delay: 0.1s;
		padding-bottom: 20px;
		&.active{
			transform: scaleY(1);
			display: block;
		}
	}
}

.favr-cost-thumb{
	padding: 5px;
	margin-bottom: 10px;
	input{
		display: none;
		+ label{
			display: block;
			width: 100%;
			text-align: center;
			line-height: 30px;
			border: 1px solid #709B78;
			font-size: 12px;
			color: #709B78;
			letter-spacing: 0.3px;
			border-radius: 12.5px;

		}
		&:checked + label{
			color: #FFF;
			background-color: #709B78;
		}
	}
}


.range-slider-wrap{
	display: block;
	position: relative;
	box-shadow: 0px 0px 10px #DDD;
	margin-top: 20px;
	border-radius: 23px;
	margin-bottom: 20px;
	padding: 15px;
	padding-bottom: 5px;
	.range-labels{
		display: flex;
		padding: 0px 15px;
		margin-bottom: -5px;
		.title{
			flex: 1;
			font-size: 14px;
			color: #000000;
			letter-spacing: 0.35px;
		}
		.value{
			text-align: right;
			flex: 1;
			opacity: 0.46;
			font-size: 14px;
			color: #6D7278;
			letter-spacing: 0.35px;
		}
	}
}
.range-bar{
	height: 6px;
}
.range-knob{
	transform: scale(1) !important;
}
.norm-title{
	margin: 10px;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 700;
	color: #6D7278;
	letter-spacing: 0.45px;
	.norm-title-btn{
		float: right;
		.icon{
			width: 14px;
			display: inline-block;
		}
	}
}
.norm-sub{
	margin-top: -10px;
	padding-left: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	color: rgba(0,0,0,0.85);
	letter-spacing: 0.3px;
	&.col-sec{
		padding-left: 0;
		color: #709B78;
	}
}


.dropper-thumb{
	display: flex;
	padding: 20px 15px;
	align-items: center;
	background-color: #f4f5f6;
	border-radius: 23px;
	margin-bottom: 15px;
	&.active{
		border: 1px solid #6D7278;
	}
	.img{
		flex: 2;
		.img-in{
			position: relative;
			padding-top: 100%;
			overflow: hidden;
			border-radius: 100%;
			img{
				position: absolute;
				top: 0;
				left: 50%;
				height: 100%;
				width: auto;
				transform: translateX(-50%);
			}
		}
	}
	.dets{
		flex: 7;
		padding: 5px 10px;
		.title{
			display: block;
			font-size: 16px;
			color: #000000;
			font-weight: 700;
			white-space: nowrap;
			overflow:hidden;
			text-overflow: ellipsis;
			letter-spacing: 0.45px;
		}
		.sub{
			display: block;
			font-size: 11px;
			color: #6D7278;
			letter-spacing: 0.28px;
			.see-more{
				font-weight: 700;
			}
		}
	}
	.rating{
		flex: 7;
		padding: 5px;
		text-align: right;
		font-size: 18px;
		color: #FFC830;
		white-space: nowrap;
		text-shadow: 1px 1px 0px #caa33b;
		.rate-full{
			display: inline-block;
			vertical-align: top;
			&:before{
				content: "\2605";
			}
		}
		.rate-empty{
			display: inline-block;
			vertical-align: top;
			&:before{
				content: "\2606";
			}
		}
	}
	.call{
		flex: 2;
		text-align: right;
		.call-icon{
			display: inline-block;
			width: 20px;
			margin-top: 5px;
		}
	}
}

.flow-text{
	font-size: 40px;
	color: #6D7278;
	letter-spacing: 1px;
	text-align: center;
	font-weight: 100;
	.blck{
		display: block;
	}
	.small{
		font-size: 15px;
	}
	.bold{
		font-weight: 600;
		font-size: 20px;
		color: #000;
	}
}


.drop-list-items{
	.drop-list-item{
		position: relative;
		display: flex;
		padding: 15px 5px;
		width: 100%;
		padding-left: 20px;
		font-size: 16px;
		// font-weight: 600;
		color: #AAA;
		align-items: baseline;
		color: #6D7278;
		letter-spacing: 0.45px;
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -5px;
			height: 10px;
			width: 10px;
			background-color: #6D7278;
			border-radius: 10px;
		}
		.title{
			padding: 0px 10px;
		}
		.dots{
			flex-grow: 1;
			border-bottom: 4px dotted #6D7278;
			height: 2px;
		}
		&.bold{
			font-weight: 600;
			color: #000;
			.dots{
				border-color: #000;
			}
		}
		.value{
			padding: 0px 10px;
		}
	}
}

.cart-content{
	padding: 15px;
	p{
		font-size: 14px;
		white-space: nowrap;
	}
	.item-title{
		padding-left: 25px;
	}

	.item{
		position: relative;
		padding-top: 15px;
		padding-bottom: 0px;
		padding-left: 25px;
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 15px;
			height: 10px;
			width: 10px;
			border-radius: 10px;
			background-color: #709B78;
		}
		.img{
			padding-top: 100%;
			overflow: hidden;
			position: relative;
			background-color: #F4F5F6;
			border-radius: 7px;

			img{
				position: absolute;
				top: 5px;
				height: 90%;
				left: 50%;
				width: auto;
				transform: translateX(-50%);
			}
		}
		h5{
			margin-top: 5px;
			color: #709B78;
			margin-bottom: 5px;
		}

		.pt-wp-add-btn{
			border-radius: 3px;
			background-color: transparent;
			color: #709B78;
			box-shadow: 0px 0px 0px 1px #709B78;
		}
		
		.item-sep{
			margin-top: 15px;
			margin-left: -25px;
		}
		&:last-child{
			.item-sep{
				background-color: transparent;
			}
		}
	}
}

.est-price{
	padding: 15px;
	padding-bottom: 0px;
	&:last-child{
		padding-bottom: 15px;
	}
	p{
		margin: 0px;
	}
	h5{
		margin: 0px;
	}
}

.radio-item{
	margin-bottom: 15px;
	label{
		position: relative;
		padding: 15px;
		padding-left: 30px;
		margin: 0px;
		font-weight: 400;
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			height: 20px;
			border-radius: 20px;
			width: 20px;
			border: 2px solid #DDD;
		}
		&:after{
			content: "";
			position: absolute;
			top: 50%;
			left: 4px;
			border-radius: 20px;
			transform: translateY(-50%);
			height: 12px;
			width: 12px;
			// border: 2px solid #DDD;
		}
	}
	input{
		display: none;
		&:checked{
			~label{
				&:after{
					border-color: #709B78;
				}
				&:after{
					background-color: #709B78;
				}
			}
		}
	}
}

.check-item{
	margin-bottom: 15px;
	label{
		position: relative;
		padding: 15px;
		padding-left: 30px;
		margin: 0px;
		font-weight: 400;
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			height: 20px;
			border-radius: 2px;
			width: 20px;
			border: 2px solid #DDD;
		}
		&:after{
			content: "";
			position: absolute;
			top: 50%;
			left: 4px;
			border-radius: 2px;
			transform: translateY(-50%);
			height: 12px;
			width: 12px;
			// border: 2px solid #DDD;
		}
		.check-item-light{
			color: #709B78;
			margin-left: 5px;
			margin-top: 2px;
		}
	}
	input{
		display: none;
		&:checked{
			~label{
				&:after{
					border-color: #709B78;
				}
				&:after{
					background-color: #709B78;
				}
			}
		}
	}
}

.cancel-popup{
	position: fixed;
	left: 15px;
	right: 15px;
	overflow: auto;
	max-height: 90%;
	top: 50%;
	transform: translateY(-50%);
	padding: 40px 30px;
	padding-bottom: 0px;
	background-color: #FFF;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	z-index: 1234;
	text-align: left;
	margin-top: 50px;
	border-radius: 40px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s linear;
	&.active{
		visibility: visible;
		opacity: 1;
		margin-top: 0px;
	}
	.icon{
		width: 100px;
		display: block;
		margin: 10px auto;
	}
}


.orders-wrap{
	> .title{
		display: block;
		background-color: #EEE;
		font-size: 14px;
		font-weight: 600;
		padding: 0px 15px;
		line-height: 30px;
		color: #6D7278;
		letter-spacing: 0.4px;
	}
}

.order-thumb{
	position: relative;
	display: flex;
	padding: 15px;
	padding-bottom: 0;
	// align-items: center;
	padding-left: 70px;
	> .icon{
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 40px;
		background-color: #EEE;
		position: absolute;
		top: 20px;
		left: 15px;
	}
	.dets{
		flex: 7;
		.title{
			font-size: 15px;
			font-weight: 700;
			color: #709B78;
			letter-spacing: 0.4px;
		}
		.stats{
			display: flex;
			margin-top: 10px;
			.item{
				flex: 5;
				color: #6D7278;
				letter-spacing: 0.4px;
				line-height: 20px;
				font-size: 13px;
				white-space: nowrap;
				padding: 0px 5px;
				border-right: 2px solid #EEE;
				&:first-child{
					padding-left: 0px;
					flex: 2;
				}
				&:last-child{
					padding-right: 0px;
					border-right: none;
				}
				.x2{
					font-size: 17px;
					color: #6D7278;
					// font-weight: 700;
				}
			}
		}
	}
	.time{
		flex: 3;
		p{
			margin-bottom: 0px;
		    font-size: 14px;
		    font-weight: 600;
		    text-align: right;
		    &.delv{
				color: #F7B500;
		    }
		}
	}

	.btn-wrap{
		margin-top: 0px;
		.btn{
			// padding-left: 0;
			height: 40px;
			line-height: 38px;
			font-size: 15px;
			margin-right: 10px;
			.icon{
				left: 0;
			}
			&.brdr{
				margin-top: 15px;
				margin-bottom: 15px !important;
				.icon{
					left: 10px;
				}
			}
		}
	}
}

.prod-checklist-pop{
	position: fixed;
	left: 15px;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	padding: 40px 15px;
	background-color: #FFF;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	z-index: 1234;
	text-align: left;
	margin-top: 50px;
	border-radius: 40px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s linear;
	&.active{
		visibility: visible;
		opacity: 1;
		margin-top: 0px;
	}
	.item{
		text-align: left;
		padding: 15px;
		.check-icon{
			display: inline-block;
			height: 20px;
			width: 20px;
			line-height: 16px;
			font-size: 12px;
			vertical-align: top;
			text-align: center;
			border: 2px solid #000;
			border-radius: 4px;
			&:before{
				color: #FFF;
				content: "\2714";
			}
			&.active{
				border-color: #6D7278;
				background-color: #6D7278;
				color: #FFF;
				&:before{
				}
			}
		}
		.check-text{
			vertical-align: top;
			margin-left: 5px;
			font-size: 15px;
			line-height: 20px;

		}
	}
}
app-shopper, app-faqs, app-pages, app-favr, app-orders, app-cart, app-profile, app-seldrop, app-track, app-start, app-login, app-home, app-dropper, app-choose{
	height: 100%;
	width: 100%;
}
.collapse-item-wrap{
	display: block;
	.title{
		padding: 10px;
		border-radius: 10px;
		border: 1px solid #EEE;
		background-color: #FAFAFA;
	}
	.value{
		display: none;
		padding: 10px;
		&.active{
			display: block;
		}
	}
}
.notify-popup{
	position: fixed;
	left: 15px;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	padding: 40px 15px;
	background-color: #FFF;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	z-index: 1234;
	text-align: center;
	overflow: auto;
	margin-top: 50px;
	border-radius: 40px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s linear;
	&.rate-popup{
		height: 100%;
		left: 0;
		right: 0;
		padding: 40px;
		border-radius: 0px;
	}
	&.active{
		visibility: visible;
		opacity: 1;
		margin-top: 0px;
	}
	.icon{
		position: relative;
		z-index: 2;
		width: 100px;
		display: block;
		margin: 10px auto;
	}

	.person-name{
		display: inline-block;
		margin-bottom: 10px;
		position: relative;
		padding: 20px;
		background-color: #EEE;
		padding-top: 60px;
		margin-top: -40px;
		z-index: 1;
		width: 100%;
		text-align: center;
		border-radius: 15px;
	}

	.txt-center {
	    text-align: center;
	}
	.hide {
	    display: none;
	}

	.clear {
	    float: none;
	    clear: both;
	}

	.rating-inp {
	    // width: 90px;
	    unicode-bidi: bidi-override;
	    direction: rtl;
	    text-align: center;
	    position: relative;
	}

	.rating-inp > label {
	    // float: right;
	    display: inline;
	    padding: 0;
	    margin: 0;
	    position: relative;
	    width: 1.1em;
	    cursor: pointer;
	    color: #000;
	    font-size: 38px;
	}

	.rating-inp > label:hover,
	.rating-inp > label:hover ~ label,
	.rating-inp > input.radio-btn:checked ~ label {
	    color: transparent;
	}

	.rating-inp > label:hover:before,
	.rating-inp > label:hover ~ label:before,
	.rating-inp > input.radio-btn:checked ~ label:before,
	.rating-inp > input.radio-btn:checked ~ label:before {
	    content: "\2605";
	    font-size: 38px;
	    position: absolute;
	    left: 0;
	    color: #FFD700;
	}

	.rating-input{
		margin-top: -10px;
		margin-bottom: 20px;
		textarea{
			padding: 15px;
			width: 100%;
			border: 2px solid #DDD;
			height: 100px;
			border-radius: 15px;
		}
	}
}

.neg-mar{
	margin-left: -15px !important;
	margin-right: -15px !important;
}


.reviewPopup{
	position: fixed;
	top: 50%;
	left: 20px;
	right: 20px;
	z-index: 12345;
	background-color: #FFF;
	border-radius: 15px;
	padding: 40px 15px;
	transform: translateY(-50%);
	max-height: calc(100vh - 40px);
	.review-item{
		display: flex;
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px dashed #EEE;
		.dets{
			flex: 7;
			.sub{
				display: block;
				color: #777;
				font-size: 16px;
			}
			.name-wrap{
				display: flex;
				width: 100%;
				margin-top: 5px;
				font-size: 14px;
				.name{ 
					border-right: 1px solid #DDD;
					padding-right: 7px;
				}
				.date{
					padding-left: 7px;
				}
			}
		}
		.rating{
			flex: 3;
			padding: 5px;
			text-align: right;
			font-size: 20px;
			color: #FFC830;
			white-space: nowrap;
			// text-shadow: 1px 1px 0px #caa33b;
			.rate-full{
				display: inline-block;
				vertical-align: top;
				&:before{
					content: "\2605";
				}
			}
			b{
				color: #000;
			}
			.rate-empty{
				display: inline-block;
				vertical-align: top;
				&:before{
					content: "\2606";
				}
			}
		}
	}
}

.temp-holder{
	position: fixed;
	bottom: 0;
	left: 0;
	pointer-events: none;
	// opacity: 0;
	// visibility: hidden;
	right: 0;
	height: 100%;z-index: 123456;
}
.call-screen{
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0;
	top: 0;
	// height: 50%;
	overflow: auto;
	z-index: 12345;
	background-color: #000;
	.call-details{
		.dp{
			position: relative;
			display: block;
			margin: 50px auto;
			margin-bottom: 10px;
			width: 120px;
			height: 120px;
			border-radius: 120px;
			overflow: hidden;
			img{
				position: absolute;
				top: 0;
				height: 100%;
				width: auto;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.caller-name{
			font-size: 26px;
			font-weight: 700;
			color: #FFF;
			text-align: center;
		}
		.call-time{
			color: #FFF;
			font-size: 15px;
			font-weight: 700;
			line-height: 34px;
			text-align: center;
		}
	}
	.call-btns-wrap{
		position: absolute;
		bottom: 60px;
		left: 0;
		right: 0;
		display: flex;
		.disc-btn{
			flex: 1;
			text-align: center;
			button{
				display: inline-block;
				height: 60px;
				width: 60px;
				border-radius: 60px;
				border: none;
				line-height: 60px;
				text-align: center;
				color: #FFF;
				background-color: #F00;
				i{
				    font-size: 24px;
				    transform: rotate(-135deg);
				    margin-top: 18px;
				}
			}
		}
	}
}